.card {
  position: relative;
  height: 52rem;
  perspective: 150rem;

  &__side {
    height: 52rem;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.8s;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 3px;

    &--front {
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-light-secondary,
          $color-dark-secondary
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-light-primary,
          $color-dark-primary
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-light-tertiary,
          $color-dark-tertiary
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right,
          $color-light-secondary,
          $color-dark-secondary
        ),
        url(../img/nat-5.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right,
          $color-light-primary,
          $color-dark-primary
        ),
        url(../img/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right,
          $color-light-tertiary,
          $color-dark-tertiary
        ),
        url(../img/nat-7.jpg);
    }
  }

  &__heading {
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 3rem;
    font-size: 2.8rem;
    font-weight: 300;
    width: 75%;
    text-align: right;

    &-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;

      &--1 {
        background-image: linear-gradient(
          to right,
          rgba($color-light-secondary, 0.8),
          rgba($color-dark-secondary, 0.8)
        );
      }

      &--2 {
        background-image: linear-gradient(
          to right,
          rgba($color-light-primary, 0.8),
          rgba($color-dark-primary, 0.8)
        );
      }

      &--3 {
        background-image: linear-gradient(
          to right,
          rgba($color-light-tertiary, 0.8),
          rgba($color-dark-tertiary, 0.8)
        );
      }
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      text-align: center;

      li {
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-light-gray-2;
        }
      }
    }
  }

  &__cta {
    @include position-center;
    width: 90%;
    text-align: center;
  }

  &__price-box {
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 8rem;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  &__price-only {
    font-size: 1.4rem;
  }
}
